#container {
	display: table;
}

#containerHeader {
	margin-top: 100px;
	margin-bottom: 30px;
}

#level {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

#time {
	color: white;
	font-size: 20px;
}

#start {
	width: 100px;
	height: 40px;
	font-size: 20px;
}

#startAgain {
	width: 150px;
	height: 40px;
	font-size: 20px;
}

body {
	/*background: url("img/new_york_night_gr.jpg");
	background: url("img/new_york_city_at_night.png");*/
	background-color: #261E36;
	background-size: 100% 100%;
	background-repeat: none;
}

p {
	color: white;
	font-size: 20px;
}
 
.mainPanel {
	margin-top: 20px;
}

.configurationPanel {
	margin: 10px;
	width: 300px;
}

.startPanel {
	margin-top: 150px;
	width: 350px;
}

.startAgainPanel {
	margin-top: 30px;
}

.cell {
	display: table-cell;
	background: #150916;
	border-width: 1px;
	border-color: #3d3d3d;
	border-style: solid;
}

.selectedCell {
	display: table-cell;
	background: #FFF999;
	border-width: 1px;
	border-color: #3d3d3d;
	border-style: solid;
}

.row {
	display: table-row;
}

.success {
	color: green;
}

.fail {
	color: red;
}

